@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Poppins" sans-serif;
}

html {
    font-size: 14px;
    scrollbar-gutter: stable;
}

button:disabled{
    cursor : not-allowed;
}

@media screen and (min-width: 360px) {
    html {
        font-size: 16px;
    }
}
