/*Poppins Setup*/
@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/poppins/Poppins-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/poppins/Poppins-Regular.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/poppins/Poppins-Medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/poppins/Poppins-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url("../../../public/fonts/poppins/Poppins-Black.ttf");
    font-weight: 900;
}